.component-nav {
  height:.4rem;
  padding: .1rem;

  a {
    display: block;
    float: left;
    font-size: .16rem;
    line-height: .4rem;
    height:.4rem;
    color: #3B86F2;
    text-align: center;
    margin-right: .1rem;
  }
}