.scene-home {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem 0 0 0;
  box-sizing: border-box;

  .workspace {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    &:nth-child(1) {
      padding: 0 0 0 68.4rem;
    }
  }

  .main {
    /*display: flex;*/
    box-sizing: border-box;
    height: 100%;
    background: #efefef;
  }

  .cybertron-widget-page-list {
    border: 1px solid #979797;
  }

  .tooltip {
    white-space: nowrap;
  }
}